<section class="py-4 container">
    <input [(ngModel)]= "term" type="text" class="form-control w-50 mx-auto my-3 form-control-sm" placeholder="Search ....">
    <div class="row g-4 mx-0">
        <div *ngFor="let product of allProducts | search : term" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="product h-100">
                <header role="button" [routerLink]="['/productDetails',product._id]"  >
                    <img [src]="product.imageCover" class="w-100"[title]="product.title" [alt]="product.title">
                    <h3 class="h6">{{product.title |cuttext :3}}</h3>
                    <h4 class="h6 text-main">{{product.category.name}}</h4>
                    <div class="d-flex align-items-center justify-content-between small">
                        <span>{{product.price | currency:'e£'}}</span>
                        <p class="mb-0"><i class="fa-solid fa-star rating-color"></i> <span class="text-muted">{{product.ratingsAverage}}</span></p>
                    </div>
                </header>
                <footer>
                    <button (click)="addCartClick(product._id,btnAdd)" #btnAdd class="btn main-btn w-100">Add To Cart</button>

                </footer>
            </div>
        </div>
    </div>
</section>

